<!-- BEGIN HEADER -->
<div class="page-header">
<!-- BEGIN HEADER TOP -->
  <div class="page-header-top">
      <div class="container">
          <!-- BEGIN LOGO -->
          <div class="page-logo">
              <h1><%= link_to "Polling App", defined?(root_path) ? root_path : "#", class: "navbar-brand" %></h1>
          </div>
          <!-- END LOGO -->
          <!-- BEGIN TOP NAVIGATION MENU -->
          <div class="top-menu">
              <ul class="nav navbar-nav pull-right">
                  <!-- BEGIN NOTIFICATION DROPDOWN -->
                  <% if defined?(Devise) %>
                  <% if user_signed_in? %>
                  <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                          <i class="fa fa-flag" aria-hidden="true"></i>
                          <span class="badge badge-default">7</span>
                      </a>
                      <ul class="dropdown-menu">
                          <li class="external">
                              <h3>You have
                                  <strong>12 pending</strong> tasks</h3>
                              <a href="app_todo.html">view all</a>
                          </li>
                          <li>
                              <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                  <li>
                                      <a href="javascript:;">
                                          <span class="time">just now</span>
                                          <span class="details">
                                              <span class="label label-sm label-icon label-success">
                                                  <i class="fa fa-plus"></i>
                                              </span> New user registered. </span>
                                      </a>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <!-- END NOTIFICATION DROPDOWN -->
                  
                  <li class="droddown dropdown-separator">
                      <span class="separator"></span>
                  </li>
                  <!-- BEGIN USER LOGIN DROPDOWN -->
                  <li class="dropdown dropdown-user dropdown-dark">
                      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-mobile"><%= current_user.username %></span>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-default">
                          <li>
                            <%= link_to user_path(current_user) do %>
                                <i class="fa fa-user"></i> Profile
                            <% end %>
                          </li>
                          <li>
                              <%= link_to edit_user_registration_path do %>
                                <i class="fa fa-gear"></i> Edit Account
                              <% end %>
                          </li>
                          <li class="divider"> </li>
                          <li>
                              <%= link_to destroy_user_session_path, method: :delete do %>
                                <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
                              <% end %>
                          </li>
                      </ul>
                  </li>
                  <!-- END USER LOGIN DROPDOWN -->
                  <% else %>
                    <li> 
                      <%= link_to "Log In", new_user_session_path %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
          </div>
          <!-- END TOP NAVIGATION MENU -->
      </div>
  </div>
  <!-- END HEADER TOP -->
  <!-- BEGIN HEADER MENU -->
  <div class="page-header-menu">
      <div class="container">
          <%= form_tag polls_path, :method => 'get', :id => "polls_search", class:"search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder:"Search", class:"form-control" %>
              <%= submit_tag "Search", :name => nil, style:"display: none;" %>
            </div>
          <% end %>
          <!-- BEGIN MEGA MENU -->
          <div class="hor-menu  ">
              <ul class="nav navbar-nav">
                  <li>
                      <%= link_to "Dashboard", defined?(root_path) ? root_path : "#" %>                 
                  </li>
                  <li class="menu-dropdown classic-menu-dropdown ">
                    <%= link_to "Polls", polls_path %>
                  </li>
                  <li>
                    <%= link_to "New Poll", new_poll_path if user_signed_in? %>
                  </li>
              </ul>
          </div>
          <!-- END MEGA MENU -->
      </div>
  </div>
<!-- END HEADER MENU -->
</div>
<!-- END HEADER -->

  