<div class="col-md-2">
  <h3>Favorites</h3>
  <% unless user_signed_in? %>
      <div class="portlet light">
        <div class="portlet-title">
            <small><p>Log in or join to view your favorites</p></small>
        </div>
        <div>
            <%= link_to "Log In", new_user_session_path, class:"btn btn-circle blue btn-block", width:"100%" %>
        </div>
      </div>
  <% end %>
  <% if user_signed_in? && current_user.categories %>
      <% current_user.categories.each do |cat| %>
          <div class="portlet light">
            <div class="portlet-title">
              <div class="caption font-green-sharp">
                <span class="caption-subject bold uppercase"><%= link_to cat.name, category_path(cat) %></span>
              </div>
            </div>
            <div class="portlet-body">
              <small><%= cat.desc %></small>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
<div class="col-md-7">
    <div class="action" id="sort-links">
        <%= sortable "topic" %>
        <%= sortable "created_at" %>
    </div>
    <div id="polls">
        <% if @polls.present? %>
          <%= render "poll" %>
        <% else %>
          <p>There are no polls containing the term(s) <%= params[:search] %>.</p>
        <% end %>
    </div>
    <%= paginate @polls %>
</div>
<div class="col-md-3">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <span class="caption-subject bold uppercase">Sidebar Content</span>
            </div>
        </div>
        <div class="portlet-body">
            <p>Lots of content</p>
        </div>
    </div>
</div>
