<% content_for(:page_header) {"Share your opinion"} %>
<div>
  <div class="col-md-6">
    <div class="portlet light">
        <div class="portlet-title">
          <div class="caption font-green-sharp">
              <span class="caption-subject bold uppercase"><%= @poll.category.name if @poll.category %> | <%= link_to @poll.topic, poll_path(@poll) %></span>
          </div>
          <div class="actions">
            <% if user_signed_in? %>
              <%= link_to 'Vote', poll_path(@poll), class: "btn btn-circle btn-default btn-sm" %>
            <% end %>
            <%= link_to 'Edit', edit_poll_path(@poll), class: "btn btn-circle btn-default btn-sm" if policy(@poll).edit? %>
            <%= link_to 'Delete', poll_path(@poll), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-circle btn-default btn-sm" if policy(@poll).destroy? %>
          </div>
        </div>
        <div class="portlet-body">
          <div>
            <%= render 'voting_form' %>
          </div>
      </div>
    </div>
    <%= render 'disqus' %>
  </div>
   <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline','geomap', 'corechart']});
  </script>
  <%= render partial: 'vote_map', locals: {q: @poll.vote_region_quantity}  %>
</div>



<script data-turbolinks-track="true">
  $(document).ready(function() {
    var voting_form = $('#voting_form');
    voting_form.validate({
      focusInvalid: false,
      errorClass: 'alert alert-warning',
      errorElement: "div",
      errorPlacement: function(error, element) { voting_form.before(error); },
      rules: {
        'vote_option[id]': {
          required: true
        }
      },
      messages: {
        'vote_option[id]': {
          required: "Please select one of the options."
        }
      }
    });
  });
</script>